
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



body {
	background: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
	color: whitesmoke;
	line-height: 1.6;
}

main {
  text-align: center;

}

nav {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #50B39F;
  align-items: center;
}


.menu li {
  display: inline-block;
  background-color: #698D7F;
  border:whitesmoke;
  color: #fff;
  padding: 10px 15px;
  transition: all 0.8s ease;
  position: relative;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;

}

.menu li:hover {
  background-color: lightblue;
  cursor: pointer;
  opacity: 0.8;
}


header {
  padding: 20px;
}

h1 {
  padding-bottom: 150px;
  padding-top:50px;
  padding-right:15px;
  padding-left:15px;
  text-align:center;
}

.logo {
  width: 50%;

}

.logo img {
  width: 50%;
  padding: 5px;
  border-radius: 50%;
}
