{% extends "layout.html" %}

{% block content %}
<div class=form-backdrop>
<form action="/add_employee" method="post">
<div class="mb-3">
{% if msg %} 
<p class="message">{{ msg }}</p>
{% endif %} 
<h4 for="name">Name</h4>
<div>
<input autocomplete="off" autofocus class="form-control" name="name" placeholder=" " type="text">
</div>
<br>
<h4 for="email">Email</h4>
<div>
<input autocomplete="off" autofocus class="form-control" name="email" placeholder=" " type="text">
</div>
<br>
<h4 for="position">Position</h4>
<br>
<select name="pos" class="form-select">
        <option value="" disabled selected autofocus class="form-control">Please Choose One</option>
        {% for pos in positions %}
        <option value="{{ pos }}">{{ pos }}</option>
        {% endfor %}
</select><br>
<button class="btn btn-primary" type="submit">Submit</button>
</div>
</form>
</div>

{% endblock %}
      