{% extends "layout.html" %}

{% block content %}
<div class="mb-3">
<table class=table>
    <h1>Pay Period for:</h1>
    <h5>{{ period }}</h5>
<thead>
    <tr>
        <th>Name</th>
        <th>Gross</th>
        <th>CLaimed</th>
    </tr>
</thead>
<tbody style="background-color:rgba(0, 0, 0, 0);">
    {% for _, row in df2.iterrows() %}
        <tr>
            <td> {{ row.name }}</td>
            <td> ${{ row.gross }}0</td>
            <td> ${{ row.claimed }}0</td>
        </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endblock %}
