{% extends "layout.html" %}

{% block content %}
  <div class="form-group">
    {% if msg %}
    <h1>{{msg}}</h1>
    {% endif %}
    {% if not message %}
    {% if current_user.is_authenticated %}
    <h1 class="title">
      Welcome
    </h1>
      <h5>Employees</h5>
        {% for employee in employees %}
        <ul id="employee.name" style="list-style-type: none;">
          <li>
            <span class="field-value">{{ employee.name }}</span>
          </li>
          <li>
            <span class="field-value">{{ employee.email }}</span>
          </li>
          <li>
            <span class="field-value">{{ employee.position }}</span>
          </li>
        </ul>
        {% endfor %}
    {% endif %}
    {% endif %}
  </div>
{% endblock %}
