{% extends "layout.html" %}

{% block content %}
  <div class="mb-3">>
    <h2 class="title">
      Welcome, {{ current_user.name }}!
    </h2>
    {% if msg %}
    <h1>{{msg}}</h1>
    {% endif %}
    {% if not message %}
    {% if current_user.is_authenticated %}
    <br>
    <br>
      <h4 class="title">Employees</h4>
      <br>
        <table class=table style=width:100%>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Position</th>
            {% if current_user.admin != True %}
            <th>Remove</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.position }}</td>
            <td><a class="btn btn-primary" href="/update_emp/{{employee.id}}">remove</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>  
    <br> 
    {% endif %}
    {% endif %}
  </div>
{% endblock %}
