{% extends "layout.html" %}

{% block content %}
<div class="mb-3">
    <div class="form-group">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <label for="name">User Email</label>
            <div>
                <input autofocus class="form-control" type="email" name="email" placeholder="" autofocus="">
            </div>
            <label for="name">Password</label>
            <div>
                <input autofocus class="form-control" type="password" name="password" placeholder="">
            </div>
            <br>
            <br>
            <button class="btn btn-primary">Log in</button>
        </form>
    </div>
</div>
{% endblock %}