{% extends "layout.html" %}

{% block content %}
<div class="mb-3">
    <h4 class="title">New Manager</h4>
    {% with messages = get_flashed_messages() %}
    {% if messages[0] %}
    <div>
    {{ messages[0] }}. Go to <a href="{{ url_for('auth_bp.login') }}">login page</a>.
    </div>
    {% endif %}
    {% if messages [1:] %}
    {% endif %}
    {% endwith %}
    {% if msg %} 
    <p class="message">{{ msg }}</p>
    {% endif %} 
    <form method="POST" action="/signup">
    <label for="name">Name</label>
    <div>
    <input autocomplete="off" autofocus class="form-control" name="name" placeholder=" " type="text">
    </div>
    <label for="name">Email</label>
    <div>
    <input autocomplete="off" autofocus class="form-control" name="email" placeholder=" " type="text">
    </div>
    <label for="name">Password</label>
    <div>
    <input autocomplete="off" autofocus class="form-control" name="password" placeholder=" " type="text">
    </div>
    <br>
    <button class="btn btn-primary">Sign Up</button>
    </form>
<br>
<br>
    <h4 class="title">Managers / Admin</h4>
    <table class=table style=width:100%>
        <thead>
        <tr>
            <th>Manager</th>
            <th>Email</th>
            {% if current_user.admin != True %}
            <th>Not Right?</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            {% if current_user.admin != True %}
            <td><a class="btn btn-primary" href="/update/{{user.id}}">Update</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>  
    <br> 
</div>
{% endblock %}