{% extends "layout.html" %}

{% block content %}
<div class="mb-3">
{% if msg %} 
<h5 class="message">{{ msg }}</h5>
{% endif %} 

{% if not msg %}
  <div>
      <form action="/export/{{location}}" method="post">
          <table class=table style=width:100%>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Tips</th>
                  <th>Location</th>
                  <th>Shift</th>
              </tr>
          </thead>
          <tbody>
            {% for tips in tipout %}
                  <tr>
                      <td> {{ tips.employee }}</td>
                      <td> {{ tips.tips }} </td>
                      <td> {{ tips.location }}</td>
                      <td> {{ tips.time }} </td>
                  </tr>
            {% endfor %}
          </tbody>
          </table>
          <br>
          <br>
          <button class="btn btn-success">Export Tip Info for {{ location }} to Excel!</button>
        </form>
      <form method="POST" action="/redo/{{c_id}}">
        <h4>Doesn't look right?</h4>
        <button class="btn btn-primary">Re-do</button>
      </form>
  </div>
</div>
{% endif %}
{% endblock %}
