{% extends "layout.html" %}

{% block content %}
<div class="mb-3">
    <h3 class="title">Update {{name_to_update.name}}</h3>
    <div class="mb-3">
        {% if msg %}
        <h5>{{msg}}</h5>
        {% endif %}
        <form method="POST" action="/update/{{name_to_update.id}}">
            <div>
                <div>
                    <input autocomplete="off" autofocus class="form-control" value={{name_to_update.email}} type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div>
                <div>
                    <input autocomplete="off" autofocus class="form-control"value={{name_to_update.name}} type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>
            <div>
                <div>
                    <input autocomplete="off" autofocus class="form-control" type="password" value={{name_to_update.password}} name="password" placeholder="Password">
                </div>
            </div>
            <label for="password">Please Re-Enter New Password</label>
            <div >
                <div>
                    <input autocomplete="off" autofocus class="form-control" type="password" value={{name_to_update.password}} name="password" placeholder="Password">
                </div>
            </div>
            <label for="delete">Delete Account</label> 
            <input type="checkbox" id="export" name="delete" value="{{name_to_update.id}}">
            <button class="btn btn-primary" type="submit">Save new Manager</button>
            
        </form>
    </div>
</div>
{% endblock %}